
{% extends "::layout/layout.html.twig" %}


{% block scriptcss %}
{% endblock %}

{% block body %}
<!-- Page Content Container -->
<section id="content" class="mbtm fund_rasising_listing">
	<section class="container-fluid container">
	
		<section class="row-fluid">
			
			<section class="span9 fund_rasising_listing" id="fund_rasising_listing">  
					
					<figure class="span12 first outer_lyr" id="category_image"> 
						
						<div class="">
						<img src="{{asset('images/crowd_funding_detail.jpg')}}" alt="Crowd Funding" />
					<figure class="span12 first fund_project" id="charity_progress">
							<h3> Help us to build charity hospital </h3>
							
					<div class="span12 first">
						<span class="current_collection">   </span>
						
						<h4>  </h4>
						
						<div class="progress progress-striped active">  
								<div class="bar p80"></div>  
						</div>
						 
						 <div class="info"> 
									<div class="span3 first">
										<i class="icon-user"></i> <span> 39 </span> Pledgers
									</div>
									
									<div class="span4 first">
									<i class="icon-fullscreen"></i> <span> Pledged of $200,000 Goal </span> 
									</div>
									
									<div class="span2 first">
										 <i class="icon-dashboard"></i>  <span> $9,721 </span>  
									</div>
									
									<div class="span3" id="dayz">
										<i class="icon-calendar-empty"></i> <span> 74 </span> Days Left
									</div>
									
							  </div>
						
						</div>							
						
					</figure>
				
						</div>

					</figure>
								
					<figure class="span12 first form" id="charity_payment">
		<h3> Pay from your savings </h3>
		<p> We recommend you fill this in with clear instructions about how your project is going to go after you've reached your goal. It would also be very smart to mention what you'll do if you don't reach your goal. </p>
			<form class="crowd_fund" method="post" action="contact.php">
				<input type="text" value="First name" name="f_name" />
				<input type="text" value="Last Name" name="l_name" />
				<input type="text" value="Email@yourdomain.com" name="email" />
				<textarea name="address" cols="10" rows="2"> Enter address</textarea>
				<input id="price_entry" type="text" value="$10.00" name="price_entry">
				<textarea name="comments" cols="10" rows="5"> Enter your Comment</textarea>
				<input type="submit" class="btns" value="Make Payment" name="submit" />
			</form>
		</figure>
		</section>
				
			<section id="sidebar" class="span3">
							
							<figure class="widget social_follow">
								
								<div id="social_follow">
									<span class="social_fb"> <i class="icon-facebook"></i> <em> 5678 Folowers </em> </span>
									<span class="social_twitter"> <i class="icon-twitter"></i> <em> 5678 Folowers</em> </span>
									
								</div>
									
							</figure>
							
							<figure class="widget events">
									
									<h3> <i class="icon-bullhorn"></i> Recent Events </h3>
									<ul id="posts">
									
										<li>
											
											<div class="img span4 first"> <img src="{{asset('images/post_img.png')}}" alt="recent Event Image" /> </div>
											
											<div class="post_content span8"> 
												<h4> <a href="#" alt="post Title"> Food Expo </a> </h4>
												<div class="location_date"> <span> <i class="icon-calendar"></i> 12 june 2013</span> <span> <i class="icon-map-marker"></i> San Jose  </span> </div>
 											</div>
										</li>
										<li>
											
											<div class="img span4 first"> <img src="{{asset('images/post_img.png')}}" alt="recent Event Image" /> </div>
											
											<div class="post_content span8"> 
												<h4> <a href="#" alt="post Title"> Volunteer Training </a> </h4>
												<div class="location_date"> <span> <i class="icon-calendar"></i> 12 june 2013</span> <span> <i class="icon-map-marker"></i> LUM, Ohayo   </span> </div>
 											</div>
										</li>
										<li>
											
											<div class="img span4 first"> <img src="{{asset('images/post_img.png')}}" alt="recent Event Image" /> </div>
											
											<div class="post_content span8"> 
												<h4> <a href="#" alt="post Title"> Fund Raising </a> </h4>
												<div class="location_date"> <span> <i class="icon-calendar"></i> 12 june 2013</span> <span> <i class="icon-map-marker"></i> Redox Park, Oslo   </span> </div>
 											</div>
										</li>
									
									</ul>
									
							
							</figure>
				
							<figure class="widget recent_comments">
							
								<h3> <i class="icon-comments"></i> Recent Comments </h3>
								
								<ul id="recent_Comments">
										
										<li> <i class="icon-comments-alt"></i> <span>  <a href="#"> morbi tristique </a> senectus et netus et a fames ac turpis egestas. </span> </li>
										<li> <i class="icon-comments-alt"></i> <span>  <a href="#"> morbi tristique </a> senectus et netus et a fames ac turpis egestas. </span> </li>
										<li> <i class="icon-comments-alt"></i> <span> Pellentesque habitant <a href="#"> Pellentesque habitant </a> senectus et netus et a fames ac turpis egestas. </span> </li>
										<li> <i class="icon-comments-alt"></i> <span>  <a href="#"> morbi tristique </a> senectus et netus et a fames ac turpis egestas. </span> </li>
								</ul>
							
							</figure>

							<figure class="widget slider_products">
							
								<h3> <i class="icon-pushpin"></i> Charity Store </h3>
								
								<ul id="slider_products">
								
									<li> 
											<div class="product_img"> <img src="{{asset('images/product_image.jpg')}}" alt="Product Image" /> </div>
											<div class="bottom_sec"> <span class="price"> $22.45</span> <span> <a href="#"> Add to cart  <i class="icon-shopping-cart"></i></a>  </span> </div>
									</li>
								
								</ul>
								
							
							</figure>
						
							<figure class="widget latest_tweets">
							
								<h3> <i class="icon-twitter"></i> Social Updates </h3>
								
								<ul id="latest_tweets">
									<li>
									Check out tht #themeforest item 'Outshined - Responsive HTML5 Template' <a href="#"> http://t.co/eG4MjTOdUJ </a>
									<span> About 10 hours ago </span>
									</li>
									<li>
									New Design by @trendyWebStar on @dribbble  <a href="#">http://t.co/zVLLkLabus </a>
									<span> About 23 hours ago </span>
									</li>
									<li>
									Check out tht #themeforest item 'Outshined - Responsive HTML5  <a href="#"> http://t.co/eG4MjTOdUJ </a>
									<span> About 10 hours ago </span>
									</li>
									<li>
									Check out tht #themeforest item 'Outshined - Responsive HTML5 Template' <a href="#"> http://t.co/eG4MjTOdUJ </a>
									<span> About 10 hours ago </span>
									</li>
								</ul>
							
							</figure>
						
							<figure class="widget tags">
								<h3> <i class="icon-tags"></i> Tags </h3>
								<ul id="tags">
									<li> <a href="#"> charity </a> </li>
									<li> <a href="#"> donate </a> </li>
									<li> <a href="#"> donations </a> </li>
									<li> <a href="#" class="active"> give </a> </li>
									<li> <a href="#"> giving </a> </li>
									<li> <a href="#"> non-profit </a> </li>
									<li> <a href="#"> volunteer </a> </li>
								</ul>
							
							</figure>
				
							<figure class="widget post_archives">
							
							<h3> <i class="icon-folder-open"></i> Past Events </h3>
							
							<ul id="post_archives">
								<li> <a href="#"> January 		<span> (2013) </span> </a> </li>
								<li> <a href="#"> Feburary  	<span> (2013) </span> </a> </li>
								<li> <a href="#"> March		 	<span> (2013) </span> </a> </li>
								<li> <a href="#"> April 		<span> (2013) </span> </a> </li>
								<li> <a href="#"> May   		<span> (2013) </span> </a> </li>
								<li> <a href="#"> June  		<span> (2013) </span> </a> </li>
							</ul>
								
							</figure>
			
			</section>
 
		</section>
	</section>

</section>
<!-- Page Content Container -->

{% block javascript %}	 


{% endblock %}

{% endblock %}