
{% extends "::layout/layout.html.twig" %}


{% block scriptcss %}
{% endblock %}

{% block body %}
<div class="container">
  
            <div class="row">
                
                <div class="span6 offset3">
                
               <form class="span6 form" role="form" method="post" action="index.php">
	<div class="form-group">
            <label for="name" ><h3>Name</h3></label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-lg-2 control-label">Email</label>
		<div class="col-lg-10">
			<input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="message" class="col-lg-2 control-label">Message</label>
		<div class="col-lg-10">
			<textarea class="form-control" rows="4" name="message"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="human" class="col-lg-2 control-label">2 + 3 = ?</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="human" name="human" placeholder="Your Answer">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-10 col-lg-offset-2">
			<! Will be used to display an alert to the user>
		</div>
	</div>
</form>

                  
                
         
       </div>
            </div>
    </div>
</div>


<!-- Page Content Container -->
{% block javascript %}	 

<script type="text/javascript" src="{{asset('js/lib-1-9-1.js')}}"></script><!-- lib Js -->
<script type="text/javascript" src="{{asset('js/lib-1-7-1.js')}}"></script><!-- lib Js -->
<script type="text/javascript" src="{{asset('js/modernizr.js')}}"></script><!-- Modernizr -->
<script type="text/javascript" src="{{asset('js/easing.js')}}"></script><!-- Easing js -->
<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script><!-- Bootstrap -->
<script type="text/javascript" src="{{asset('js/bxslider.js')}}"></script><!-- BX Slider -->
<script type="text/javascript" src="{{asset('js/clearInput.js')}}"></script><!-- Input Clear -->
<script type="text/javascript" src="{{asset('js/lgooth-scroll.js')}}"></script><!-- lgooth Scroll -->
<script type="text/javascript" src="{{asset('js/prettyPhoto.js')}}"></script><!-- Pretty Photo -->
<script type="text/javascript" src="{{asset('js/social.js')}}"></script><!-- Social Media Hover Effect -->
<script type="text/javascript" src="{{asset('js/countdown.js')}}"></script><!-- Event Counter -->
<script type="text/javascript" src="{{asset('js/custom.js')}}"></script><!-- Custom / Functions -->


{% endblock %}

{% endblock %}